<html>
    <head>
        <title>Culpable</title>
    </head>
    <body>
        <h1>Senators</h1>
        {% for members in senate %}
        <b>{{ members.first_name }} {{ members.last_name }} -- {{ members.party }} -- <a href="www.twitter.com/{{ members.twitter_account }}">@{{ members.twitter_account }}</a></b><br />

        {% endfor %}

        <h1>Headlines</h1>
        <form>
            <input type="text" name="publication" place-holder="search" />
            <input type="submit" value="Submit" />
        </form>
        {% for article in articles %}
        <b><a href="{{article.link}}">{{article.title}}</a></b><br />
        <i>{{article.published}}</i><br />
        <p>{{article.summary}}</p>
        <hr />
        {% endfor %}
    </body>
</html>
