<!DOCTYPE html>
<html lang="en">

<head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Culpable</title>

    <!-- Include the CSS -->
    {{ JSGlue.include() }}

    <link href="{{ url_for('static',filename='toolkit.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="{{ url_for('static', filename='toolkit.min.js') }}"></script>


    <!-- http://getbootstrap.com/ -->



    <script>

        $.validator.addMethod("form-control", function(value) {
            var states = ["AK", "AL", "AR", "AS", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "GU", "HI", "IA", "ID",
                "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MH", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY",
                "OH", "OK", "OR", "PA", "PR", "PW", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VI", "VT", "WA", "WI", "WV", "WY"
            ]; // of course you will need to add more
            var in_array = $.inArray(value.toUpperCase(), states);
            if (in_array == -1) {

                return false;
            } else {
                return true;
            }
        }, "Not valid");


        $("#myform").validate();


        //put all states in this array.
    </script>

</head>

<body class="with-top-navbar">
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-3">
                <form action="/" method="POST" role="form" id="myform">
                    <ul class="list-group media-list media-list-stream mb-4">
                        <li class="media list-group-item pt4">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Search by State" aria-describedby="sizing-addon1" maxlength="2">
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="card visible-md-block visible-lg-block mb-4">
                    <div class="card-block">
                        </ul>
                    </div>
                </div>
                <div class="card card-link-list">
                    <div class="card-block">
                        © 2017 culpable.net

                        <a href="#">Home</a>
                        <a href="#">Help</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <div class="mt-2">
                    <div class="row">
                        {% for obj in senate %} {% for results in obj['results'] %}
                        <div class="col-lg-6">
                            <div class="card card-profile">
                                <div class="card-header" style="background-image: url({{ results.twitter_background }});"></div>
                                <div class="card-block text-xs-center">
                                    <img class="card-profile-img" src="{{ results.twitter_profile_image }}">
                                    <h5 class="card-title">{{ results.first_name }} {{ results.last_name}}</h5>
                                    <p class="mb-4">{{ results.twitter_followers }}</p>
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="icon icon-add-user"></span> Follow
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>
                        {% endfor %} {% endfor %}






                    </div>
                    <!--row-->
                </div>
                <br>

                <li class="media list-group-item p-4">
                    <table class="table table-hover tablesorter">
                        <thead>
                            <tr>
                                <th>Member</th>
                                <th>Party</th>
                                <th>Votes with Party</th>
                                <th>twitter</th>
                            </tr>
                        </thead>
                        <tr>
                            {% for obj in senate %} {% for results in obj['results'] %}

                            <td>{{ results.first_name }} {{ results.last_name }}</td>
                            <td>{{ results.current_party }}</td>
                            <td>{{ results.roles[0].votes_with_party_pct }}
                                <td><a href="http://twitter.com/{{ results.twitter_account }}">{{ results.twitter_account }}</a></th>

                        </tr>
                        {% endfor %} {% endfor %}

                    </table>
                </li>


            </div>

        </div>

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">










            </div>
        </div>





    </div>


    <!-- Include jQuery (required) and the JS -->

</body>

</html>
